---
import { Icon } from 'astro-icon'
const {  rightMenu, id } = Astro.props;
import Container from '../../components/Container.astro';

---
<header id={id} class={`${rightMenu ? "header--right" : ``.trim()}`}>
  <Container className="container-header">
  <div class="header-logo-menu__container">
  <button id="menuButton" title="Open Main Menu">
    <span id="menuButtonIconHam">
        <div class="baseline-menu"></div>
      <Icon name="ic:baseline-menu" width="24px" height="24px" />
    </span>
    <span id="menuButtonIconClose" hidden>
      <Icon name="ic:baseline-close" width="24px" height="24px" />
      <div class="baseline-close"></div>
    </span>
  </button>
  <a class="header-logo__link" href="/fhg/sg">
    <slot name="logo">
    </slot>
  </a>
  </div>
  <div class="header-nav__container">
    <slot name="nav">
      <!-- {navData && (
        <nav>
          <ul>
            {navData.map((navItem: NavItem) => ( // Specifying the type for navItem
              <li class={navItem.submenu ? 'has-submenu' : ''}>
                <a href={navItem.slug}>{navItem.title}</a>
                {navItem.submenu && (
                  <ul class="sub-menu"> {/* Fixed class attribute */}
                    {navItem.submenu.map((submenuItem: SubmenuItem) => ( // Specifying the type for submenuItem
                      <li key={submenuItem.slug}> {/* Added key attribute for React rendering */}
                        <a href={submenuItem.slug}>{submenuItem.title}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))}
          </ul>
        </nav>
      )}  -->
    </slot>
  </div>
  <div class="header-action-item__container hide">
    <slot name="action-item">
    </slot>
  </div>
</Container>
</header>