---
import { Icon } from 'astro-icon'
import Container from '../../components/Container.astro';
import menugroup from '../../data/menuGroup.json';
---
<header id="navHeader" class="header--right white-bg">
  <Container className="container-header">
  <div class="header-logo-menu__container">
  <button id="menuButton" title="Open Main Menu">
    <span id="menuButtonIconHam">
        <div class="baseline-menu"></div>
      <Icon name="ic:baseline-menu" width="24px" height="24px" />
    </span>
    <span id="menuButtonIconClose" hidden>
      <Icon name="ic:baseline-close" width="24px" height="24px" />
      <div class="baseline-close"></div>
    </span>
  </button>
  <a class="header-logo__link" href="/fhg/">
    <slot name="logo">
    </slot>
  </a>
  </div>
  <div class="header-nav__container">
    <slot name="nav">
      <nav>
        <ul>
          {menugroup.map(menuGroup => (
            <li class={`${menuGroup.submenu ? 'has-submenu' : '' }  ${menuGroup.status}`} >
              <a href={menuGroup.url}>{menuGroup.name}</a>
              {menuGroup.submenu && (
                <ul class="sub-menu ">
                  {menuGroup.submenu.map(submenuItem => (
                    <li>
                      <a href={submenuItem.url}>{submenuItem.name}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))}
        </ul>
      </nav>    
    </slot>
  </div>
  <div class="header-action-item__container hide">
    <slot name="action-item">
    </slot>
  </div>
</Container>
</header>