---
import Layout from '../layouts/group/Layout.astro';

const { slug = 'home' } = Astro.params;
let res = await fetch(`https://www.fullertonhealth.com/wp-json/wp/v2/pages?slug=${slug}`);
let [post] = await res.json();
// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let data = await fetch("https://www.fullertonhealth.com/wp-json/wp/v2/pages")
  let posts = await data.json();
  return posts.map((post: { slug: any; }) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}
---
<Layout title={`${post.yoast_head_json.title}` } meta_description={`${post.yoast_head_json.description}` } body_class={`wp-page ${post.slug}` }>
  <div class="main" set:html={post.content.rendered} ></div>

</Layout>

