---
import Container from '../../components/Container.astro';
import menuData from '../../data/menuSGFooter.json';
import { Image } from 'astro:assets';

const { slug } = Astro.params;
import award1 from './footerIMG/ey-entrepreneur-of-the-year-logo-vector-300x185.jpg';
import award2 from './footerIMG/Healthcare-Asia-Awards-2021-logo-official-300x185.jpg';
import award3 from './footerIMG/SBR-Technology-Excellence-Awards-2021-Logo-300x185.jpg';
import award4 from './footerIMG/singhealth-duke-nus-academic-medical-centre-amc-logo-vector-300x185.jpg';
import award5 from './footerIMG/voty2021_badge_gold_winner_compressed-300x185.png';
import award6 from './footerIMG/voty2021_badge_silver_winner_compressed-300x185.png';
---
<footer>
    <Container className="container-footer content__container">
        <div class="slider-container">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <Image src={award1} height="150" width="250" alt="Award 1" title="Award 1"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award2} height="150" width="250" alt="Award 2" title="Award 2"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award3} height="150" width="250" alt="Award 3" title="Award 3"/>              
                    </div>
                    <div class="slide">
                        <Image src={award4} height="150" width="250" alt="Award 4" title="Award 4"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award5} height="150" width="250" alt="Award 5" title="Award 5"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award6} height="150" width="250" alt="Award 6" title="Award 6"/>                    
                    </div>
                    <div class="slide">
                        <Image src={award1} height="150" width="250" alt="Award 1" title="Award 1"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award2} height="150" width="250" alt="Award 2" title="Award 2"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award3} height="150" width="250" alt="Award 3" title="Award 3"/>              
                    </div>
                    <div class="slide">
                        <Image src={award4} height="150" width="250" alt="Award 4" title="Award 4"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award5} height="150" width="250" alt="Award 5" title="Award 5"/>                  
                    </div>
                    <div class="slide">
                        <Image src={award6} height="150" width="250" alt="Award 6" title="Award 6"/>                    
                    </div>
                </div>
            </div>        
        </div>       

        <ul class="link-card-grid">
            <li>
                <a href="#">Contact Us</a>
                <ul>
                    <li><svg aria-hidden="true" class="e-font-icon-svg e-fas-map-marker-alt" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg> 6 Raffles Boulevard #03-308 Marina Square Singapore 039594</li>
                    <li><svg aria-hidden="true" class="e-font-icon-svg e-fas-phone-alt" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"></path></svg> <a href="tel:63333636">+65 6333 3636</a></li>
                    <li><svg aria-hidden="true" class="e-font-icon-svg e-fas-fax" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M480 160V77.25a32 32 0 0 0-9.38-22.63L425.37 9.37A32 32 0 0 0 402.75 0H160a32 32 0 0 0-32 32v448a32 32 0 0 0 32 32h320a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32zM288 432a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16zm0-128a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16zm128 128a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16zm0-128a16 16 0 0 1-16 16h-32a16 16 0 0 1-16-16v-32a16 16 0 0 1 16-16h32a16 16 0 0 1 16 16zm0-112H192V64h160v48a16 16 0 0 0 16 16h48zM64 128H32a32 32 0 0 0-32 32v320a32 32 0 0 0 32 32h32a32 32 0 0 0 32-32V160a32 32 0 0 0-32-32z"></path></svg> <a href="tel:66725688">+65 66725688</a></li>
                </ul>
            </li>
            {menuData.map(menu => (
            <li class={`${menu.slug == slug ? 'active' : ' ' }`} >
                <a href={`${menu.url}`}>{menu.name}</a>
                {menu.submenu && (
                <ul class="sub-menu">
                    {menu.submenu.map(submenuItem => (
                        <li>
                            <a href={`${submenuItem.url}`}>{submenuItem.name}</a>                        
                        </li>                    
                    ))}
                </ul>
                )}
            </li>
            ))}
        </ul>

        <h5 class="text-center">Copyright © 2023</h5>
    </Container>    
</footer>